.form {
  max-width: 800px;
  margin: 0 auto;
}

@include media-breakpoint-up(md) {
  .form-group {
    display: flex;
    flex-direction: row;
  }
}

.submitBtn {
  display: flex;
  justify-content: center;
  margin: auto;
}

.formManagerBtn {
  width: 200px;
}

.formManagerBtn_content {
  display: flex;
  justify-content: space-between;
  text-align: end;
  width: 100%;
}

.formManagerBtn_content__text {
  margin: 0;
}

.info-text {
  max-width: 600px;
  margin: 15% auto 0;
}